
USE MASTER;

IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'TEST_DMIR_EMP')
BEGIN
    CREATE DATABASE TEST_DMIR_EMP
END
GO 



USE [TEST_DMIR_EMP]
GO
/****** Object:  Table [dbo].[HR_DEPARTMENT]    Script Date: 01/30/2013 19:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HR_DEPARTMENT](
	[HRD_ID] [int] IDENTITY(1,1) NOT NULL,
	[HRD_NAME] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HRD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HR_DEPARTMENT] ON
INSERT [dbo].[HR_DEPARTMENT] ([HRD_ID], [HRD_NAME]) VALUES (1, N'IT')
INSERT [dbo].[HR_DEPARTMENT] ([HRD_ID], [HRD_NAME]) VALUES (2, N'HR')
INSERT [dbo].[HR_DEPARTMENT] ([HRD_ID], [HRD_NAME]) VALUES (3, N'MSK')
SET IDENTITY_INSERT [dbo].[HR_DEPARTMENT] OFF
/****** Object:  Table [dbo].[ACL_USER]    Script Date: 01/30/2013 19:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACL_USER](
	[ACL_USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACLU_LOGIN] [varchar](48) NOT NULL,
	[ACLU_EMAIL] [varchar](128) NOT NULL,
	[ACLU_PASSWORD] [varchar](96) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACL_USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ACLU_EMAIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ACLU_LOGIN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ACL_USER] ON
INSERT [dbo].[ACL_USER] ([ACL_USER_ID], [ACLU_LOGIN], [ACLU_EMAIL], [ACLU_PASSWORD]) VALUES (1, N'test', N'11@gmail.com', N'test')
INSERT [dbo].[ACL_USER] ([ACL_USER_ID], [ACLU_LOGIN], [ACLU_EMAIL], [ACLU_PASSWORD]) VALUES (12, N'c042a1d0-8ea3-423f-99e2-f9c624803671', N'a@gmail.com', N'123456')
INSERT [dbo].[ACL_USER] ([ACL_USER_ID], [ACLU_LOGIN], [ACLU_EMAIL], [ACLU_PASSWORD]) VALUES (13, N'f81cdab6-8810-4de3-9e4a-4e8656883b46', N'b@yandex.ru', N'123456')
SET IDENTITY_INSERT [dbo].[ACL_USER] OFF
/****** Object:  Table [dbo].[HR_POSITION]    Script Date: 01/30/2013 19:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HR_POSITION](
	[HRP_ID] [int] IDENTITY(1,1) NOT NULL,
	[HRP_NAME] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HRP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HR_POSITION] ON
INSERT [dbo].[HR_POSITION] ([HRP_ID], [HRP_NAME]) VALUES (1, N'Manager')
INSERT [dbo].[HR_POSITION] ([HRP_ID], [HRP_NAME]) VALUES (2, N'Developer')
INSERT [dbo].[HR_POSITION] ([HRP_ID], [HRP_NAME]) VALUES (3, N'CEO')
SET IDENTITY_INSERT [dbo].[HR_POSITION] OFF
/****** Object:  Table [dbo].[HR_DEPARTMENT_POSITIONS]    Script Date: 01/30/2013 19:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_DEPARTMENT_POSITIONS](
	[HRD_ID] [int] NOT NULL,
	[HRP_ID] [int] NOT NULL,
 CONSTRAINT [PK_HR_DEPARTMENT_POSITIONS] PRIMARY KEY CLUSTERED 
(
	[HRD_ID] ASC,
	[HRP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HR_DEPARTMENT_POSITIONS] ([HRD_ID], [HRP_ID]) VALUES (1, 1)
INSERT [dbo].[HR_DEPARTMENT_POSITIONS] ([HRD_ID], [HRP_ID]) VALUES (1, 2)
INSERT [dbo].[HR_DEPARTMENT_POSITIONS] ([HRD_ID], [HRP_ID]) VALUES (2, 1)
/****** Object:  Table [dbo].[HR_SALARY]    Script Date: 01/30/2013 19:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_SALARY](
	[HRD_ID] [int] NOT NULL,
	[HRP_ID] [int] NOT NULL,
	[HRS_SUM] [numeric](12, 2) NOT NULL,
 CONSTRAINT [PK_HR_SALARY] PRIMARY KEY CLUSTERED 
(
	[HRD_ID] ASC,
	[HRP_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HR_SALARY] ([HRD_ID], [HRP_ID], [HRS_SUM]) VALUES (1, 1, CAST(10000.00 AS Numeric(12, 2)))
INSERT [dbo].[HR_SALARY] ([HRD_ID], [HRP_ID], [HRS_SUM]) VALUES (1, 2, CAST(20000.00 AS Numeric(12, 2)))
INSERT [dbo].[HR_SALARY] ([HRD_ID], [HRP_ID], [HRS_SUM]) VALUES (2, 1, CAST(1000.00 AS Numeric(12, 2)))
/****** Object:  Table [dbo].[HR_EMPLOYEE]    Script Date: 01/30/2013 19:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HR_EMPLOYEE](
	[HRE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACL_USER_ID] [int] NOT NULL,
	[HRE_FAMILY_NAME] [varchar](255) NOT NULL,
	[HRE_FIRST_NAME] [varchar](255) NOT NULL,
	[HRE_LAST_NAME] [varchar](255) NOT NULL,
	[HRD_ID] [int] NULL,
	[HRP_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HRE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HR_EMPLOYEE] ON
INSERT [dbo].[HR_EMPLOYEE] ([HRE_ID], [ACL_USER_ID], [HRE_FAMILY_NAME], [HRE_FIRST_NAME], [HRE_LAST_NAME], [HRD_ID], [HRP_ID]) VALUES (1, 1, N'Петров', N'Петр', N'Иванович', 1, 2)
INSERT [dbo].[HR_EMPLOYEE] ([HRE_ID], [ACL_USER_ID], [HRE_FAMILY_NAME], [HRE_FIRST_NAME], [HRE_LAST_NAME], [HRD_ID], [HRP_ID]) VALUES (2, 1, N'Иванов2', N'Иван', N'Иванович', 1, 1)
INSERT [dbo].[HR_EMPLOYEE] ([HRE_ID], [ACL_USER_ID], [HRE_FAMILY_NAME], [HRE_FIRST_NAME], [HRE_LAST_NAME], [HRD_ID], [HRP_ID]) VALUES (3, 1, N'Иванов3', N'Дмитрий', N'Иванович', 5, 1)
SET IDENTITY_INSERT [dbo].[HR_EMPLOYEE] OFF
/****** Object:  ForeignKey [FK_HRD_HR_DEPARTMENT]    Script Date: 01/30/2013 19:40:50 ******/
ALTER TABLE [dbo].[HR_DEPARTMENT_POSITIONS]  WITH CHECK ADD  CONSTRAINT [FK_HRD_HR_DEPARTMENT] FOREIGN KEY([HRD_ID])
REFERENCES [dbo].[HR_DEPARTMENT] ([HRD_ID])
GO
ALTER TABLE [dbo].[HR_DEPARTMENT_POSITIONS] CHECK CONSTRAINT [FK_HRD_HR_DEPARTMENT]
GO
/****** Object:  ForeignKey [FK_HRD_HR_POSITION]    Script Date: 01/30/2013 19:40:50 ******/
ALTER TABLE [dbo].[HR_DEPARTMENT_POSITIONS]  WITH CHECK ADD  CONSTRAINT [FK_HRD_HR_POSITION] FOREIGN KEY([HRP_ID])
REFERENCES [dbo].[HR_POSITION] ([HRP_ID])
GO
ALTER TABLE [dbo].[HR_DEPARTMENT_POSITIONS] CHECK CONSTRAINT [FK_HRD_HR_POSITION]
GO
/****** Object:  ForeignKey [FK_HR_EMPLOYEE_ACL_USER]    Script Date: 01/30/2013 19:40:50 ******/
ALTER TABLE [dbo].[HR_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_HR_EMPLOYEE_ACL_USER] FOREIGN KEY([ACL_USER_ID])
REFERENCES [dbo].[ACL_USER] ([ACL_USER_ID])
GO
ALTER TABLE [dbo].[HR_EMPLOYEE] CHECK CONSTRAINT [FK_HR_EMPLOYEE_ACL_USER]
GO
/****** Object:  ForeignKey [FK_HR_EMPLOYEE_POSITION]    Script Date: 01/30/2013 19:40:50 ******/
ALTER TABLE [dbo].[HR_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_HR_EMPLOYEE_POSITION] FOREIGN KEY([HRD_ID], [HRP_ID])
REFERENCES [dbo].[HR_DEPARTMENT_POSITIONS] ([HRD_ID], [HRP_ID])
GO
ALTER TABLE [dbo].[HR_EMPLOYEE] CHECK CONSTRAINT [FK_HR_EMPLOYEE_POSITION]
GO
/****** Object:  ForeignKey [FK_HR_SALARY_POSITION]    Script Date: 01/30/2013 19:40:50 ******/
ALTER TABLE [dbo].[HR_SALARY]  WITH CHECK ADD  CONSTRAINT [FK_HR_SALARY_POSITION] FOREIGN KEY([HRD_ID], [HRP_ID])
REFERENCES [dbo].[HR_DEPARTMENT_POSITIONS] ([HRD_ID], [HRP_ID])
GO
ALTER TABLE [dbo].[HR_SALARY] CHECK CONSTRAINT [FK_HR_SALARY_POSITION]
GO
